<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="inc/layout"
>
  <head>
    <link href="/css/components/menu/card.css" rel="stylesheet" type="text/css" />
    <link href="/css/components/menu/menu-filter.css" rel="stylesheet" type="text/css" />
    <link href="/css/components/menu/basket-status.css" rel="stylesheet" type="text/css" />
    <link href="/css/components/menu/list.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main layout:fragment="main">
      <section>
        <header class="d:flex">
          <h1 class="font-weight:3 font-size:3 color:main-3 deco deco-size:4 icon:trophy">
            메뉴 목록
          </h1>
          <div>
            <a href="reg" class="n-btn n-btn-size:1">추가</a>
          </div>
        </header>

        <section class="bg-color:base-4 p:2 border-radius:3">
          <h1 class="d:none">카테고리 목록</h1>
          <ul class="n-list n-tag-list">
            <li><a href="">커피</a></li>
            <li><a href="">쿠키</a></li>
            <li><a href="">과일청</a></li>
            <li><a href="">샌드위치</a></li>
          </ul>
        </section>

        <section>
          <h1 class="d:none">메뉴 검색폼</h1>

          <form class="n-form n-field-label-position:left">
            <div>
              <label class="flex-direction:row">
                <span class="font-weight:3 color:base-7 w:1 d:flex align-items:center">메뉴명</span>
                <input class="n-field-textbox:underline"
                  type="text" placeholder="메뉴명을 입력해주세요." />
              </label>
            </div>

            <div>
              <button class="n-btn n-btn-type:outline n-btn-size:1 deco icon:magnifying_glass">
                검색
              </button>
              <button id="a1" class="n-btn n-btn-type:outline n-btn-size:1">
                초기화
              </button>
            </div>
          </form>
        </section>

        <section class="menu-card-list" id="menu-card-list">
          <h1 class="d:none">메뉴 목록</h1>
          <div class="content fade">
            <section class="menu-card" th:each="ml:${mList}">
              <h1>
                <a class="heading-3" href="detail.html?id=1" 
                th:href="@{./detail(id=${ml.id})}" th:text="${ml.korName}">
                  카페라떼
                </a>
              </h1>
              <h2 class="heading-2 font-weight:normal color:base-5" th:text="${ml.engName}" >
                Cafe Latte
              </h2>
              <div class="price-block d:flex align-items:flex-end">
                <span class="font-weight:bold" th:text="${ml.price}">4,500</span>원
                <span class="soldout-msg ml:auto mr:auto md:d:none">SOLD OUT</span>
              </div>
              <div class="img-block">
                <a href="detail.html?id=1" th:href="@{./detail(id=${ml.id})}">
                  <img src="/image/menu/8.jpg" th:src="@{/image/menu/}+${ml.img}"/>
                </a>
              </div>
              <div class="like-block d:flex justify-content:flex-end">
                <a class="icon icon-heart icon-color:base-4" href="">좋아요</a>
                <span class="font-weight:bold ml:1" th:text="${ml.likeCount}">2</span>
              </div>
              <div class="pay-block d:flex">
                <!-- <a
                  class="icon md:icon:none icon-cart icon-color:base-0 color:base-0 btn-type:icon btn-cart md:btn-type:text"
                  href=""
                  >담기</a
                > -->
                <form action="/cart/add-menu" method="post">
                  <input type="hidden" name="id" th:value="${ml.id}" />
                  <button
                    th:data-id="${ml.id}"
                    th:data-korname="${ml.korName}"
                    th:data-engname="${ml.engName}"
                    th:data-price="${ml.price}"
                    th:data-regdate="${ml.regDate}"
                    th:data-img="${ml.img}"
                    th:data-categoryid="${ml.categoryId}"
                    class="icon md:icon:none icon-cart icon-color:base-0 color:base-0 btn-type:icon btn-cart md:btn-type:text">
                    담기
                  </button>
                </form>
                <a
                  class="icon md:icon:none icon-card icon-color:base-0 color:base-0 btn-type:icon btn-card md:btn-type:text"
                  href="">주문하기</a>
              </div>
            </section>
          </div>
        </section>
      </section>
    </main>
  </body>
</html>
