<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>Header</header>
    <!-- Outputs the unescaped value into the template 
    Header와 footer는 layout에 두고 main만 바꿔치겠단 소리 ^_^ -->
    <%-defineContent('main')%>
    <footer>Footer</footer>
    
</body>
</html>